@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
  
}

:root {
  --emerald-500: #10B981;
  --emerald-600: #059669;
  --emerald-700: #047857;
  --gray-100: #F3F4F6;
  --gray-900: #111827;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: var(--gray-100);
  color: var(--gray-900);
}
